.footer__columns {
  width: 90%;
  display: flex;
  margin: 0 auto 0 64px; /* автоматическое выравнивание дает левое смещение >0,
  а поскольку в брифе сказано, что логотипы должны быть на одной вертикали, выровнял по верхнему логотипу  */

  justify-content: space-between;
}
