.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
}

.header__title {
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    width: 730px;
    margin-left: 64px;
}

.header__subtitle {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__square-pic {
    height: 568px;
    width: 568px;
}

.header__main-illustration {
    width: 765px;
    height: 608px;       
}