@import url(fonts.css);
@import url(header.css);
@import url(description.css);
@import url(techniques.css);
@import url(digits.css);
@import url(kaufman.css);
@import url(table.css);
@import url(resourses.css);
@import url(footer.css);

/*div,
h2,
h3 {
    border: darkgreen solid 1px;
}

section,
header {
    border: brown solid 1px;
}

.cards__image {
    border: brown solid 1px;
}

/*


/*Окончание блока для тестирования */

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
}

.logo {
    width: 183px;
    height: 32px;
}

.logo_place_header {
    content: url('../images/logo.svg');
}

.logo_place_footer {
    content: url('../images/logo_white.svg');
}

.section-title {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-subtitle {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}