
.techniques {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px; 
}

.cards {
    padding: 0;
    margin: 0 auto;
    width: 920px;    

    display: flex;
    flex-flow: row wrap;
    row-gap: 60px;
    column-gap: 100px;
}

.cards__item {
    width: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box; /*TODO Убрать после окончания тестирования */
}

.cards__image {
    width: 160px;
    height: 160px;
    margin: 60px 40px 43px 40px;
}

.cards__title {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.cards__description {
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
}